.App {
  text-align: center;
  margin-top: 150px;
  
}
.profileimage{
  border-radius: 50%;
  width: 200px;
  height: 200px;

}
.box1{
  
  text-align: center;
  /* width: 80%; */
  background-color: rgb(253, 253, 253);
  margin: auto;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  column-gap: 10px;
  row-gap: 10px;
}

